.game-container .cards-container {
  width: 50%
}
.game-container .cards-container .card {
  display: inline;
  border: 1px black solid;
  margin: 5px;
  padding: 5px;
  width: 30px;
  height: 50px;
  text-align: center;
  float: left;
}
